.navbar{
    background-color: #eb0f45;
    padding: 0 8vw;
    position: relative;
    text-align: right;
    font-family: 'Karla', sans-serif;
}

.nav-icon{
    background-color: #eb0f45;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    padding: 10px 10px;
    left: 8vw;
}

.logo{
    width: 70px;
    height: 70px;
}

.ui.text.menu>.item{
    padding: 7px 0;
    color: #ffffff;
    font-size: 17px;
    opacity: 1;
}

.ui.text.menu>.item:hover{
    color: #ffffff;
}

.ui.menu .dropdown.item .menu{
    margin-top: 21px;
}

.ui.dropdown .menu>.item{
    font-size: 17px;
    font-family: 'Karla', sans-serif;
}

i {
    color: #F7AE4D;
    font-size: 20px;
}

.content{
    padding: 5vh 10vw;
}

.table-header{
    font-family: 'Karla', sans-serif;
    font-size: 3rem;
}

.title{
    max-width: 10vw;
}

.flex{
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
}

.ui.success.message{
    margin: 3vh 15vw;
}
