{% extends 'base.html' %}

{% block content %}
    <h1>Add New Event</h1>
    <form class="ui form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.event_name.label }}<br>
            {{ form.event_name }}
            {% for error in form.event_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.event_type.label }}<br>
            {{ form.event_type() }}
            {% for error in form.event_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.event_banner.label }}<br>
            {{ form.event_banner() }}
            {% for error in form.event_banner.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.type_boost.label }}<br>
            {{ form.type_boost() }}
            {% for error in form.type_boost.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gacha_id.label }}<br>
            <select id="gacha_id" name="gacha_id">
                {% for i in form.gacha_id %}
                    {% if i|attr("object_data") == 69420 %}
                        <option value="69420" selected="selected">None</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.gacha_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.song_id.label }}<br>
            <select id="song_id" name="song_id">
                {% for i in form.song_id %}
                    {% if i|attr("object_data") == 69420 %}
                        <option value="69420" selected="selected">None</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.song_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="ui button") }}</p>
    </form>
{% endblock %}