{% extends 'base.html' %}

{% block content %}
    <h1>Add New Event</h1>
    <form class="ui form"  action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.gacha_name.label }}<br>
            {{ form.gacha_name }}
            {% for error in form.gacha_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gacha_type.label }}<br>
            {{ form.gacha_type() }}
            {% for error in form.gacha_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gacha_banner.label }}<br>
            {{ form.gacha_banner() }}
            {% for error in form.gacha_banner.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="ui button") }}</p>
    </form>
{% endblock %}