{% extends 'base.html' %}

{% block content %}
    <h1>Add New Character</h1>
    <form class="ui form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.char_name.label }}<br>
            {{ form.char_name(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('deleteAllCharacters') }}"><button>Delete all characters</button></a>
{% endblock %}