{% extends 'base.html' %}

{% block content %}
    <h1>Add New Card</h1>
    <form class="ui form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.char_id.label }}<br>
                {{ form.char_id() }}
            {% for error in form.char_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.card_title.label }}<br>
            <div class="ui input">
                {{ form.card_title(class_="ui input") }}
            </div>
            {% for error in form.card_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.overall_stat.label }}<br>
            {{ form.overall_stat() }}
            {% for error in form.overall_stat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.untrained_art_link.label }}<br>
            {{ form.untrained_art_link() }}
            {% for error in form.untrained_art_link.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.trained_art_link.label }}<br>
            {{ form.trained_art_link() }}
            {% for error in form.trained_art_link.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rarity.label }}<br>
            {{ form.rarity() }}
            {% for error in form.rarity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.attribute.label }}<br>
            {{ form.attribute() }}
            {% for error in form.attribute.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gacha_id.label }}<br>
            <select id="gacha_id" name="gacha_id">
                {% for i in form.gacha_id %}
                    {% if i|attr("object_data") == 69420 %}
                        <option value="69420" selected="selected">None</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.gacha_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.event_id.label }}<br>
            <select id="event_id" name="event_id">
                {% for i in form.event_id %}
                    {% if i|attr("object_data") == 69420 %}
                        <option value="69420" selected="selected">None</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.event_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="ui button") }}</p>
    </form>
{% endblock %}