{% extends 'base.html' %}

{% block content %}
    <h1>Add New Song</h1>
    <form class="ui form"  action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.song_title.label }}<br>
            {{ form.song_title }}
            {% for error in form.song_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.song_length.label }}<br>
            {{ form.song_length() }}
            {% for error in form.song_length.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ex_level.label }}<br>
            {{ form.ex_level() }}
            {% for error in form.ex_level.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.note_count.label }}<br>
            {{ form.note_count() }}
            {% for error in form.note_count.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.song_art.label }}<br>
            {{ form.song_art() }}
            {% for error in form.song_art.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.band_id.label }}<br>
            <select id="band_id" name="band_id">
                {% for i in form.band_id %}
                    {% if i|attr("object_data") == 69420 %}
                        <option value="69420" selected="selected">None</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.band_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="ui button") }}</p>
    </form>
{% endblock %}