{% extends 'base.html' %}

{% block content %}
    <!-- {% for b in band %}
        <div><p>{{b.band_id}} {{b.band_name}} {{b.character}} {{b.songs}}</p></div>
    {% endfor %} -->

    <table class="ui single line table">
        <h1 class="table-header">Bands</h1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Members</th>
                <th>Number of Songs</th>
            </tr>
        </thead>
        <tbody>
            {% for b in band %}
                {% if b.band_id < 69420 %}
                    <tr>
                        <td><strong>{{b.band_name}}</strong></td>
                        <td>
                            {% for i in b.character %}
                                {% if i.cards[0] is defined %}
                                    <img src="{{i.cards[0].untrained_art_link}}" alt="{{i.char_name}}" width="96px"> 
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{b.songs|length}}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}