<html>
    <head>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Microblog</title>
        {% endif %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    </head>
    
    <body>
        <div class="navbar">
            <a class="nav-icon" href="{{url_for('index')}}">
                <img src="//i.bandori.party/static/img/star.png?41-3" class="logo">
            </a>
            <div class="ui text menu">
                <a class="item" href="{{url_for('character')}}"><i class="user icon"></i>Characters</a>
                <div class="ui dropdown item">
                    <i class="list layout icon"></i>Cards
                    <div class="menu">
                        <a class="item" href="{{url_for('card')}}">View All</a>
                        <a class="item" href="{{url_for('newCard')}}">Create New</a>
                    </div>
                </div>
                <a class="item" href="{{url_for('band')}}"><i class="users icon"></i>Bands</a>
                <div class="ui dropdown item">
                    <i class="announcement icon"></i>Songs
                    <div class="menu">
                        <a class="item" href="{{url_for('song')}}">View All</a>
                        <a class="item" href="{{url_for('newSong')}}">Create New</a>
                    </div>
                </div>
                <div class="ui dropdown item">
                    <i class="calendar icon"></i>Events
                    <div class="menu">
                        <a class="item" href="{{url_for('event')}}">View All</a>
                        <a class="item" href="{{url_for('newEvent')}}">Create New</a>
                    </div>
                </div>
                <div class="ui dropdown item">
                    <i class="star half empty icon"></i>Gacha
                    <div class="menu">
                        <a class="item" href="{{url_for('gacha')}}">View All</a>
                        <a class="item" href="{{url_for('newGacha')}}">Create New</a>
                    </div>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="ui success message">
                    {% for messages in messages %}
                        <p>{{messages}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>

    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

    <script>
        $('.ui.dropdown').dropdown();
    </script>
</html>