{% extends 'base.html' %}

{% block content %}
    <!-- {% for c in card %}
        <div><img src="{{c.untrained_art_link}}" width="5%"><p>{{c.card_id}} {{c.character.char_name}} {{c.card_title}} {{c.overall_stat}} {{c.rarity}} {{c.attribute}}</p><strong>{{c.gacha}} // {{c.event}}</strong>
        {% if c.card_id < 69420 %}
            <a href="{{url_for('editCard', card_id=c.card_id)}}">Edit</a> <a href="{{url_for('deleteCard', card_id=c.card_id)}}">Delete</a>
        {% endif %}
    {% endfor %} -->

    <table class="ui single line table">
        <h1 class="table-header">Cards</h1>
        <thead>
            <tr>
                <th>Image</th>
                <th>Card Title</th>
                <th>Character</th>
                <th>Rarity</th>
                <th>Attribute</th>
                <th>Overall Stat</th>
                <th>Gacha</th>
                <th>Event</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for c in card %}
                {% if c.card_id < 69420 %}
                    <tr>
                        <td>
                            <img src="{{c.untrained_art_link}}" width="96px" onerror="this.style.display='none'">
                            <img src="{{c.trained_art_link}}" width="96px" onerror="this.style.display='none'">
                        </td>
                        <td class="title"><strong>{{c.card_title}}</strong></td>
                        <td>{{c.character.char_name}}</td>
                        <td>{{c.rarity}}</td>
                        <td style="text-align:center">
                            {% if c.attribute == "Power" or c.attribute == "Powerful" %}
                                <img src="//i.bandori.party/static/img/i_attribute/1.png?41-4" alt="Power">
                            {% elif c.attribute == "Cool" %}
                                <img src="//i.bandori.party/static/img/i_attribute/2.png?41-4" alt="Cool">
                            {% elif c.attribute == "Pure" %}
                                <img src="//i.bandori.party/static/img/i_attribute/3.png?41-4" alt="Pure">
                            {% elif c.attribute == "Happy" %}
                                <img src="//i.bandori.party/static/img/i_attribute/4.png?41-4" alt="Happy">
                            {% endif %}
                        </td>
                        <td>{{c.overall_stat}}</td>
                        <td><img src="{{c.gacha.gacha_banner}}" alt="{{c.gacha.gacha_title}}" width="196px" onerror="this.style.display='none'"></td>
                        <td><img src="{{c.event.event_banner}}" alt="{{c.event.event_title}}" width="196px" onerror="this.style.display='none'"></td>
                        <td>
                            <a class="ui primary basic button" href="{{url_for('editCard', card_id=c.card_id)}}">Edit</a>
                            <a class="ui negative basic button" href="{{url_for('deleteCard', card_id=c.card_id)}}">Delete</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        
    </table>
{% endblock %}