{% extends 'base.html' %}

{% block content %}

    <table class="ui single line table">
        <h1 class="table-header">Characters</h1>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Band</th>
            </tr>
        </thead>
        <tbody>
            {% for c in character %}
                <tr>
                    <td>
                        {% if c.cards[0] is defined %}
                            <img src="{{c.cards[0].untrained_art_link}}" width="96px">
                        {% endif %}
                    </td>
                    <td><strong>{{c.char_name}}</strong></td>
                    <td>{{c.birthday}}</td>
                    <td>{{c.band.band_name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}