{% extends 'base.html' %}

{% block content %}
    <h1>Edit Gacha</h1>
    <form class="ui form"  action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.gacha_name.label }}<br>
            {{ form.gacha_name(value=gacha.gacha_name) }}
            {% for error in form.gacha_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gacha_type.label }}<br>
            <select id="gacha_type" name="gacha_type">
                {% for i in form.gacha_type %}
                    {% if i|attr("object_data") == type %}
                        <option value="{{type}}" selected="selected">{{type}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            <!-- {{form.gacha_type}} -->
            {% for error in form.gacha_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gacha_banner.label }}<br>
            {{ form.gacha_banner(value=gacha.gacha_banner) }}
            {% for error in form.gacha_banner.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><i>Edit the corresponding CARDs to change the "Featured Cards".</i></p>
        <p><i>and the corresponding EVENT to change the "Event with Gacha".</i></p>
        <p>{{ form.submit(class_="ui button") }}</p>
    </form>
{% endblock %}