{% extends 'base.html' %}

{% block content %}
    <h1>Edit Event</h1>
    <form  class="ui form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.event_name.label }}<br>
            {{ form.event_name(value=event.event_name) }}
            {% for error in form.event_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.event_type.label }}<br>
            <select id="event_type" name="event_type">
                {% for i in form.event_type %}
                    {% if i|attr("object_data") == event.event_type %}
                        <option value="{{event.event_type}}" selected="selected">{{event.event_type}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.event_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.event_banner.label }}<br>
            {{ form.event_banner(value=event.event_banner) }}
            {% for error in form.event_banner.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.type_boost.label }}<br>
            <select id="type_boost" name="type_boost">
                {% for i in form.type_boost %}
                    {% if i|attr("object_data") == event.type_boost %}
                        <option value="{{event.type_boost}}" selected="selected">{{event.type_boost}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.type_boost.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gacha_id.label }}<br>
            <select id="gacha_id" name="gacha_id">
                {% for i in form.gacha_id %}
                    {% if i|attr("object_data") == event.gacha_id %}
                        <option value="{{event.gacha_id}}" selected="selected">{{event.gacha.gacha_name}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.gacha_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.song_id.label }}<br>
            <select id="song_id" name="song_id">
                {% for i in form.song_id %}
                    {% if i|attr("object_data") == event.song_id %}
                        <option value="{{event.song_id}}" selected="selected">{{event.song.song_title}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            {% for error in form.song_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="ui button") }}</p>
    </form>
{% endblock %}