{% extends 'base.html' %}

{% block content %}
    <h1>Edit Event</h1>
    <form action="" class="ui form"  method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.char_id.label }}<br>
            <select id="char_id" name="char_id">
                {% for i in form.char_id %}
                    {% if i|attr("object_data") == card.char_id %}
                        <option value="{{card.char_id}}" selected="selected">{{card.character.char_name}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            <!-- {{form.char_id()}} -->
            {% for error in form.char_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.card_title.label }}<br>
            {{ form.card_title(value=card.card_title) }}
            {% for error in form.card_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.overall_stat.label }}<br>
            {{ form.overall_stat(value=card.overall_stat) }}
            {% for error in form.overall_stat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.untrained_art_link.label }}<br>
            {{ form.untrained_art_link(value=card.untrained_art_link) }}
            {% for error in form.untrained_art_link.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.trained_art_link.label }}<br>
            {{ form.trained_art_link(value=card.trained_art_link) }}
            {% for error in form.trained_art_link.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rarity.label }}<br>
            <select id="rarity" name="rarity">
                {% for i in form.rarity %}
                    {% if i|attr("object_data") == card.rarity %}
                        <option value="{{card.rarity}}" selected="selected">{{card.rarity}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            <!-- {{form.rarity()}} -->
            {% for error in form.rarity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.attribute.label }}<br>
            <select id="attribute" name="attribute">
                {% for i in form.attribute %}
                    {% if i|attr("object_data") == card.attribute %}
                        <option value="{{card.attribute}}" selected="selected">{{card.attribute}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            <!-- {{form.attribute()}} -->
            {% for error in form.attribute.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gacha_id.label }}<br>
            <select id="gacha_id" name="gacha_id">
                {% for i in form.gacha_id %}
                    {% if i|attr("object_data") == card.gacha_id %}
                        <option value="{{card.gacha_id}}" selected="selected">{{card.gacha.gacha_name}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            <!-- {{form.gacha_id()}} -->
            {% for error in form.gacha_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.event_id.label }}<br>
            <select id="event_id" name="event_id">
                {% for i in form.event_id %}
                    {% if i|attr("object_data") == card.event_id %}
                        <option value="{{card.event_id}}" selected="selected">{{card.event.event_name}}</option>
                    {% else %}
                        {{i}}
                    {% endif %}
                {% endfor %}
            </select>
            <!-- {{form.event_id()}} -->
            {% for error in form.event_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="ui button") }}</p>
        {% for error in form.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </form>
{% endblock %}