{% extends 'base.html' %}

{% block content %}

    <table class="ui single line table">
        <h1 class="table-header">Events</h1>
        <thead>
            <tr>
                <th>Name and Banner</th>
                <th>Type</th>
                <th>Type Boost</th>
                <th>Rewards</th>
                <th>Event Gacha</th>
                <th>Event Song</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for e in event %}
                {% if e.event_id < 69420 %}
                    <tr>
                        <td>
                            <div style="text-align:center">
                                <img src="{{e.event_banner}}" alt="{{e.event_name}}" width="300px" onerror="this.style.display='none'">
                                <br/>
                                <strong>{{e.event_name}}</strong>
                            </div>
                        </td>
                        <td>{{e.event_type}}</td>
                        <td>
                            {% if e.type_boost == "Power" or e.type_boost == "Powerful" %}
                                <img src="//i.bandori.party/static/img/i_attribute/1.png?41-4" alt="Power">
                            {% elif e.type_boost == "Cool" %}
                                <img src="//i.bandori.party/static/img/i_attribute/2.png?41-4" alt="Cool">
                            {% elif e.type_boost == "Pure" %}
                                <img src="//i.bandori.party/static/img/i_attribute/3.png?41-4" alt="Pure">
                            {% elif e.type_boost == "Happy" %}
                                <img src="//i.bandori.party/static/img/i_attribute/4.png?41-4" alt="Happy">
                            {% endif %}
                        </td>
                        <td>
                            {% for i in e.card %}
                                <img src="{{i.untrained_art_link}}" alt="{{i.card_title}}" width="96px" onerror="this.style.display='none'">
                            {% endfor %}
                        </td>
                        <td>
                            <img src="{{e.gacha.gacha_banner}}" alt="{{e.gacha.gacha_title}}" width="196px" onerror="this.style.display='none'">
                        </td>
                        <td>
                            <img src="{{e.song.song_art}}" alt="{{e.song.song_title}}" width="148px" onerror="this.style.display='none'">
                        </td>
                        
                        <td>
                            <a class="ui primary basic button" href="{{url_for('editEvent', event_id=e.event_id)}}">Edit</a>
                            <a class="ui negative basic button" href="{{url_for('deleteEvent', event_id=e.event_id)}}">Delete</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}