{% extends 'base.html' %}

{% block content %}

    <table class="ui single line table">
        <h1 class="table-header">Gacha</h1>
        <thead>
            <tr>
                <th>Name and Banner</th>
                <th>Gacha Type</th>
                <th>Featured Cards</th>
                <th>Event with Gacha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for g in gacha %}
                {% if g.gacha_id < 69420 %}
                    <tr>
                        <td>
                            <div style="text-align:center">
                                <img src="{{g.gacha_banner}}" alt="{{g.gacha_name}}" width="300px" onerror="this.style.display='none'">
                                <br/>
                                <strong>{{g.gacha_name}}</strong>
                            </div>
                        </td>
                        <td>{{g.gacha_type}}</td>
                        <td style="max-width:20vw">
                            {% for i in g.cards %}
                                <img src="{{i.untrained_art_link}}" alt="{{i.card_title}}" width="96px" onerror="this.style.display='none'">
                            {% endfor %}
                        </td>
                        <td>
                            {% for i in g.event %}
                                <img src="{{i.event_banner}}" alt="{{i.event_name}}" width=300px" onerror="this.style.display='none'">
                            {% endfor %}
                        </td>
                        <td>
                            <a class="ui primary basic button" href="{{url_for('editGacha', gacha_id=g.gacha_id)}}">Edit</a>
                            <a class="ui negative basic button" href="{{url_for('deleteGacha', gacha_id=g.gacha_id)}}">Delete</a>
                        </td>
                    </tr>
                    
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}