{% extends 'base.html' %}

{% block content %}
<div class="flex">
    <img src="https://i.bandori.party/static/img/logo/bandori_party.png?41-3">
</div>
<div class="center">
    <h1 class="table-header"><strong>lite</strong></h1>
    <br>
    <br>
    <h2>This app is a stripped-down clone of <a href="http://bandori.party">Bandori Party</a>.</h2>
    <h3>In fulfillment of CS 165 - Databases course.</h3>
    <h4>2018 Alex Mariano </h4>
</div>
    
{% endblock %}