{% extends 'base.html' %}

{% block content %}

    <table class="ui single line table">
        <h1 class="table-header">Songs</h1>
        <thead>
            <tr>
                <th>Art</th>
                <th>Title</th>
                <th>EX Level</th>
                <th>Note Count</th>
                <th>Length</th>
                <th>Sung By</th>
                <th>Song of Event</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for s in song %}
                {% if s.song_id < 69420 %}
                    <tr>
                        <td>
                            <img src="{{s.song_art}}" width="160px" alt="{{s.song_title}}" onerror="this.style.display='none'">
                        </td>
                        <td><strong>{{s.song_title}}</strong></td>
                        <td>{{s.ex_level}}</td>
                        <td>{{s.note_count}}</td>
                        <td>{{s.song_length}}</td>
                        <td>{{s.band.band_name}}</td>
                        <td>
                            {% for i in s.event %}
                                <img src="{{i.event_banner}}" width="256px" alt="{{i.event_name}}" onerror="this.style.display='none'">
                            {% endfor %}
                        </td>
                        <td>
                            <a class="ui primary basic button" href="{{url_for('editSong', song_id=s.song_id)}}">Edit</a>
                            <a class="ui negative basic button" href="{{url_for('deleteSong', song_id=s.song_id)}}">Delete</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}